body {
  background-color: #1c232e;
  color: #fff;  
}

.navbar-default {
  background-color: #545E70;
  border: none;
}

#lobby_announcement {
  background-color: #455062;
  border-color: #5CB85C;
  color: #fff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Front Page Styles */

#lobby {
  background-color: #1c232e;
}

.panel {
  background-color: #455062;
  border: none;
}

.panel-warning>.panel-heading, #status_container {
  background-color: #545E70;
  border-color: #455062;
  color: #fff;
}

#lobby_inprogress_games_container .icon_normal_speed,
#lobby_rooms_container .icon_normal_speed {
  color: #5CB85C;
}

#lobby_inprogress_games_container .panel-body .status,
#lobby_rooms_container .panel-body .status {
  color: #EDEC5D;
}

#lobby_header button {
  background-color: #1c232e;
  border-color: #EDEC5D;
  color: #EDEC5D;
  font-weight: 400;
}

#lobby_inprogress_games_container .panel-body .player-slot .btn-group button,
#lobby_rooms_container .panel-body .player-slot .btn-group button {
  background-color: #455062;
  border-color: #EDEC5D;
  color: #EDEC5D;
  font-weight: 400;
}

#lobby_inprogress_games_container .panel-heading,
#lobby_rooms_container .panel-heading {
  height: 40px;
  padding: 15px
}

#lobby_open_handlers .handler,
#game_open_handlers .handler {
  background-color: #545E70;
  box-shadow: 1px 1px 1px #000;
}

/* Buttons */

.btn-success, .btn-primary, .btn-danger, .btn-default,
.btn-success:hover, .btn-primary:hover, .btn-danger:hover, .btn-default:hover {
  background-color: #545E70;
  color: #fff;
}

.btn-primary, .btn-default {
  border: 2px solid #008CE4;
}

.btn-primary:hover, .btn-default:hover {
  border: 2px solid #007CC9;
}

.btn-success {
  border: 2px solid #5CB85C;
}

.btn-success:hover {
  border: 2px solid #449d44;
}

.btn-danger {
  border: 2px solid #c9302c;
}

.btn-danger:hover {
  border: 2px solid #ac2925;
}

.btn-default[disabled] {
  background-color: #545E70;
}

/*** Game ***/

#board_container {
  border: 2px solid #545E70;
}

#logs_container {
  background-color: #545E70;
  color: #EDEC5D;
}

#logs_container .content .pic {
  color: #fff;
}

#logs_container .control {
  border-right: none;
}

#logs_container {
  margin: 5px;
  border: none;
}

#logs_container .log_slot {
  border: none;
}

/* Player */
#players_summary_container {
  padding: 5px;
}

#players_summary_container .player_container .panel-heading {
  background-color: #545E70;
  border: 0;
}

#players_summary_container .player_container .panel-body {
  margin-bottom: 10px;
}

#players_summary_container .player_container .panel-body .detailed .row.score .col.total_score span {
  font-size: 25px;
  width: 40px;
}

#players_summary_container .player_container .panel-body .simplified .row.score .col.total_score span {
  font-size: 15px;
  width: 30px;
}

#players_summary_container .player_container .panel-body .detailed .row.score .col.total_score,
#players_summary_container .player_container .panel-body .simplified .row.score .col.total_score {
  margin-top: 5px;
}

.label-warning {
  background-color: #FD942A;
}

.name .fa-circle {
  color: #EDEC5D;
  opacity: 1;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

/* Chat */
.overlay_container {
  color: #fff;
}

.overlay_container .panel-primary .panel-heading {
  background-color: #545E70;
  border-color: #455062;
}

/* Modal */

.modal-content {
  background-color: #455062;
  border: none;
}

.modal-header {
  background-color: #545E70;
  border-color: #455062;
}

.modal-footer {
  border: none;
}

.close {
  color: #fff;
}

/* Pieces */
.bank_coins_modal .coins_panel .row .coin_row {
  background-color: #545E70;
}

.bank_coins_modal .coins_panel .row .coin_row.choosable {
  background-color: #455062;
}

