body {
  background-color: #1c232e !important;
  color: #fff !important;
}

.navbar-default {
  background-color: #545E70 !important;
  border: none !important;
}

#lobby_announcement {
  background-color: #455062 !important;
  border-color: #5CB85C !important;
  color: #fff !important;
  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Front Page Styles */

#lobby {
  background-color: #1c232e !important;
}

.panel {
  background-color: #455062 !important;
  border: none !important;
}

.panel-warning>.panel-heading, #status_container {
  background-color: #545E70 !important;
  border-color: #455062 !important;
  color: #fff !important;
}

#lobby_inprogress_games_container .icon_normal_speed,
#lobby_rooms_container .icon_normal_speed {
  color: #5CB85C !important;
}

#lobby_inprogress_games_container .panel-body .status,
#lobby_rooms_container .panel-body .status {
  color: #EDEC5D !important;
}

#lobby_header button {
  background-color: #1c232e !important;
  border-color: #EDEC5D !important;
  color: #EDEC5D !important;
  font-weight: 400 !important;
}

#lobby_inprogress_games_container .panel-body .player-slot .btn-group button,
#lobby_rooms_container .panel-body .player-slot .btn-group button {
  background-color: #455062 !important;
  border-color: #EDEC5D !important;
  color: #EDEC5D !important;
  font-weight: 400 !important;
}

#lobby_inprogress_games_container .panel-heading,
#lobby_rooms_container .panel-heading {
  height: 40px !important;
  padding: 15px
}

#lobby_open_handlers .handler,
#game_open_handlers .handler {
  background-color: #545E70 !important;
  box-shadow: 1px 1px 1px #000 !important;
}

#game_open_handlers .handler.warning {
  background: #c9302c !important;
}

/* Buttons */

.btn-success, .btn-primary, .btn-danger, .btn-default,
.btn-success:hover, .btn-primary:hover, .btn-danger:hover, .btn-default:hover {
  background-color: #545E70 !important;
  color: #fff !important;
}

.btn-primary, .btn-default {
  border: 2px solid #008CE4 !important;
}

.btn-primary:hover, .btn-default:hover {
  border: 2px solid #007CC9 !important;
}

.btn-success {
  border: 2px solid #5CB85C !important;
}

.btn-success:hover {
  border: 2px solid #449d44 !important;
}

.btn-danger {
  border: 2px solid #c9302c !important;
}

.btn-danger:hover {
  border: 2px solid #ac2925 !important;
}

.btn-default[disabled] {
  background-color: #545E70 !important;
}

/*** Game ***/

#board_container {
  border: 2px solid #545E70 !important;
}

#logs_container {
  background-color: #545E70 !important;
  color: #EDEC5D !important;
}

#logs_container .content .pic {
  color: #fff !important;
}

#logs_container .control {
  border-right: none !important;
}

#logs_container {
  margin: 5px !important;
  border: none !important;
}

#logs_container .log_slot {
  border: none !important;
}

/* Player */
#players_summary_container {
  padding: 5px !important;
}

#players_summary_container .player_container .panel-heading {
  background-color: #545E70 !important;
  border: 0 !important;
}

#players_summary_container .player_container .panel-body {
  margin-bottom: 10px !important;
}

#players_summary_container .player_container .panel-body .detailed .row.score .col.total_score span {
  font-size: 25px !important;
  width: 40px !important;
}

#players_summary_container .player_container .panel-body .simplified .row.score .col.total_score span {
  font-size: 15px !important;
  width: 30px !important;
}

#players_summary_container .player_container .panel-body .detailed .row.score .col.total_score,
#players_summary_container .player_container .panel-body .simplified .row.score .col.total_score {
  margin-top: 5px !important;
}

#players_summary_container .player_container .panel-body .simplified .row.score .col.total_score {
  padding-left: 10px !important;
}

.label-warning {
  background-color: #FD942A !important;
}

.name .fa-circle {
  color: #EDEC5D !important;
  opacity: 1;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

/* Chat */
.overlay_container {
  color: #fff !important;
}

.overlay_container .panel-primary .panel-heading {
  background-color: #545E70 !important;
  border-color: #455062 !important;
}

/* Modal */

.modal-content {
  background-color: #455062 !important;
  border: none !important;
}

.modal-header {
  background-color: #545E70 !important;
  border-color: #455062 !important;
}

.modal-footer {
  border: none !important;
}

.close {
  color: #fff !important;
}

/* Pieces */
.bank_coins_modal .coins_panel .row .coin_row {
  background-color: #545E70 !important;
}

.bank_coins_modal .coins_panel .row .coin_row.choosable {
  background-color: #455062 !important;
}

